.create{
    max-width: 1200px;
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #E0FFFF;
    padding: 50px 50px;

    &__save{
        height: 40px;
        max-width: 220px;
        width: 100%;
        border-radius: 4px;
        background-color: #4682B4;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 21px;
        color: #212121;
        padding: 0;
        transition: all 0.5s;
        &:hover{
            color: aquamarine;
        }
        text-align: center;
        line-height: 38px;
        display: block;
        margin-top: 15px;
    }

    &__input, &__text{
        display: inline-block;
        border: none;
        height: 32px;
        max-width: 220px;
        margin-bottom: 15px;
        padding: 0 5px;
        line-height: 28px;
        font-size: 18px;
        border: 1px solid black;
    }

    &__text{
        height: 100px;
        resize: none;
    }

    &__form{
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        max-width: 250px;
        margin-right: 50px;
    }

    &__label{
        font-size: 18px;
    }

    &__description-text{
        max-width: 500px;
        font-size: 18px;
    }

    &__form-wrap{
        display: flex;
    }
}