.main{
    &__product-item{
        display: block;
        background-color: #ffffff;
        margin-bottom: 15px;
        padding: 15px;
    }
    
    &__btn{
        cursor: pointer;
        background-color: #4682B4;
        outline: none;
        border: none;
        border-radius: 4px;
        margin-right: 10px;
        width: 100px;
        height: 32px;
        font-size: 14px;
        color: #212121;
        padding: 0;
        transition: all 0.5s;
        text-align: center;
        line-height: 30px;
        &:hover{
            color: aquamarine;
        }
    }
    
    &__btns{
        margin-top: 10px;
        display: flex;
    }
}
